   <!-- Encabezado con mejor jerarquía visual -->
    <mat-card-header class="mb-6 px-4 py-3 bg-gray-50 rounded-lg">
      <mat-card-title class="text-2xl font-bold text-gray-800 flex items-center">
        <mat-icon class="mr-2 text-blue-600">event_available</mat-icon>
        Disponibilidad de Entregas materiales
      </mat-card-title>
      <mat-card-subtitle class="text-gray-600 mt-1 flex items-center">
        <mat-icon class="mr-1 text-sm">calendar_month</mat-icon>
        Septiembre 2023
      </mat-card-subtitle>
    </mat-card-header>
